<!DOCTYPE html>
<html>
<head>
    <title>Order Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app>
<!-- Page content start -->
    <div class="container">
        <!-- Head start -->
        <div class="row">
            <div class="col-md-12">
                <h1>Order Page<small>&nbsp;with AngularJS</small></h1>
            </div>
        </div>
        <!-- Head end -->

        <div class="row" ng-controller="OrderForm">
            <div class="col-md-8">
                    <br/><br/>
                    <form class="form-inline" role="form">
                        <table class="table">
                            <tr>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in order.items">
                                <td>
                                    <input type="text" ng-model="item.description" class="input-small form-control" placeholder="Item description">
                                </td>
                                <td>
                                    <input type="number" ng-model="item.qty" class="input-mini form-control" placeholder="Qty">
                                </td>
                                <td>
                                    <input type="number" ng-model="item.cost" class="input-mini form-control" placeholder="Unit price">
                                </td>
                                <td>
                                    {{ item.qty * item.cost | currency }}
                                </td>
                                <td>
                                    [<a href ng-click="removeItem($index)">Remove</a>]
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center" style="padding: 20px;">
                                    <button type="button" class="btn btn-info" ng-click="addItem()">Add Order Line</button>
                                </td>
                            </tr>
                        </table>
                    </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="jumbotron">
                        <h2>Total: {{ total() | currency }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Page content end -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="scripts/OrderForm.js"></script>
</body>
</html>